.img {
  width: 100px;
  height: 100px;
}
.container {
  padding: 20px 10px 10px 20px;
}
.box {
  height: 10px;
  display: block;
  background-color: blue;
}
.message-error {
  background-color: #f00;
  color: #fff;
  opacity: 0;
  transition: all linear 0.5s;
}
.message-error.show {
  opacity: 1;
}
